/* .auth-container {
  background-color: #fdfbe6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
} */

/* .auth-card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
} */
/* 
.auth-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: bold;
} */

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-card input[type="text"],
.auth-card input[type="password"],
.auth-card input[type="file"],
.auth-card input[type="email"],
.auth-card input[type="number"] {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
}


.guardabtn{
   width: 100%;
  background-color: var(--rojo);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-card .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.auth-card .row input {
  flex: 1;
  min-width: 0;
}

.toggle-password {
  position: absolute;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #e93636;
}


.auth-switch-text button {
    background-color: #fff;
    border: none;
    padding: .5rem 1rem;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    margin-left: .5rem;
}

.password-rules {
  font-size: 14px;
  color: red;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 2px;
}

.password-rules span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: red;
}

.password-rules .valid {
  color: green;
}

input.invalid {
  border: 2px solid red;
}

input.valid {
  border: 2px solid green;
}

